/* src/app/globals.css */

/* 1) Carga Tailwind */
@import "tailwindcss";

/* 2) Variables globales */
:root {
  /* Colores de marca por defecto */
  --color-header-bg: #0D6759; /* violeta */
  --color-header-text: #ffffff;

  --color-footer-bg: #0B2E59; /* Azul verdoso*/
  --color-footer-text: #ffffff;

  /* Opcional: sombra focus */
  --shadow-focus: 0 0 0 4px rgba(74, 50, 126, 0.35);
}

/* Modo oscuro o tema alternativo (ejemplo) */
[data-theme="dark"] {
  --color-header-bg: #1e1e2f;
  --color-header-text: #ffffff;

  --color-footer-bg: #ffffff;
  --color-footer-text: #0B2E59;
}

/* Accesibilidad */
*:focus-visible {
  outline: none;
  box-shadow: var(--shadow-focus);
  border-radius: 8px;
}

/* UX suave */
html {
  scroll-behavior: smooth;
}

/* Estilos base */
body {
  color: #375ca7;
  background: #0D6759;
}

/* Header y footer usan las variables */
header {
  background-color: var(--color-header-bg);
  color: var(--color-header-text);
}

footer {
  background-color: var(--color-footer-bg);
  color: var(--color-footer-text);
}

/* Utilidad opcional */
@layer utilities {
  .shadow-focus {
    box-shadow: var(--shadow-focus);
  }
}

:root {
  --color-title: #ffffff; /* amarillo de ejemplo */
}
